<!-- <p>
  sidebar works!
</p> -->
<mat-nav-list >
  <!-- dense压缩列表 -->
  <h3 mat-subheader>项目</h3>
  <mat-list-item>
    <!-- icon1 md-list-icon -->
    <span mat-line>项目首页1</span>
    icon2
    <span mat-line>查看您的所有项目</span>
  </mat-list-item>
  <h3 mat-subheader>日历</h3>
  <!-- <mat-list-item>
    <span>日历首页</span>
  </mat-list-item> -->
  <mat-list-item>
    <span mat-line>月视图</span>
    <span mat-line mat-subheader>查看任务</span>
  </mat-list-item>
  <mat-list-item>
    <span mat-line>周视图</span>
    <span mat-line mat-subheader>查看任务</span>
  </mat-list-item>
  <mat-list-item>
    <span mat-line>日视图</span>
    <span mat-line mat-subheader>查看任务</span>
  </mat-list-item>
</mat-nav-list>