<!-- <p>
  register works!
</p> -->

<mat-card>
  <mat-card-title>
    注册:
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="您的email">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="您的密码">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="重复输入您的密码">
    </mat-form-field>
  </mat-card-content>
  <mat-grid-list cols="6" rowHeight="1:1">
    <!-- <mat-grid-tile colspan="2">1</mat-grid-tile> -->
    <mat-grid-tile *ngFor="let item of items">
      <!-- [svgIcon]="item" -->
      <!-- <mat-iocn> -->
        {{item}}
      <!-- </mat-iocn> -->
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button type="button">注册</button>
</mat-card>