.card {
  display: flex;
  /* width: 200px; */
  height: 360px;
  /* flex: 0 0 360px; */
  margin: 8px;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 999;
}

.containter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
