<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>
      <!-- <mat-card-title>登录:</mat-card-title> -->
      登录:
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <!-- <span mdPrefix>wang</span>
      <input matInput type="text" placeholder="您的email">
      <span mdSuffix>@gmail.com</span>
      <mat-hint></mat-hint>
      <mat-error></mat-error> -->
        <input matInput type="text" placeholder="您的email">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" placeholder="您的密码">
      </mat-form-field>
    </mat-card-content>
    <button mat-raised-button>登录</button>
    <mat-card-actions class="text-right">
      <p>暂示注册
        <a href="" routerLink="/register">注册</a>
      </p>
      <p>忘记密码
        <a href="">找回</a>
      </p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>
      每日佳句
    </mat-card-title>
    <mat-card-subtitle>
      hello mother fukcer
    </mat-card-subtitle>
    <img md-card-img src="" alt="" />
    <mat-card-content>
      fuck the king~~~~
    </mat-card-content>
  </mat-card>
</div>
<!-- <h1>fuck the king</h1> -->